<div class="header">
  <span>Zagęszczenie ludności</span>
</div>

<div class="country-selector">
  <h2>Wybierz kraje do porównania</h2>

  <div class="countries">
    <div class="country-wrapper">
      <div class="country-info" *ngIf="selectedCountries[0]">
        <h4>{{ selectedCountries[0].name }}</h4>
        <h5>{{ selectedCountries[0].density }} osoby/km<sup>2</sup></h5>
      </div>

      <select class="country-select one" (change)="changeFirst($event)">
        <option
          *ngFor="let c of countries"
          [value]="c.name"
          [data-name]="c.name"
        >
          {{ c.name }}
        </option>
      </select>

      <div class="country">
        <!-- People here -->
        <div
          class="human"
          *ngFor="let h of (comparison | async).c1"
          [ngStyle]="h"
        ></div>
      </div>
    </div>
    <div class="country-wrapper">
      <div class="country-info" *ngIf="selectedCountries[1]">
        <h4>{{ selectedCountries[1].name }}</h4>
        <h5>{{ selectedCountries[1].density }} osoby/km<sup>2</sup></h5>
      </div>
      <select class="country-select two" (change)="changeSecond($event)">
        <option
          *ngFor="let c of countries"
          [value]="c.name"
          [data-name]="c.name"
        >
          {{ c.name }}
        </option>
      </select>

      <div class="country">
        <!-- People here -->
        <div
          class="human"
          *ngFor="let h of (comparison | async).c2"
          [ngStyle]="h"
        ></div>
      </div>
    </div>
  </div>

  <div class="copy">
    Copy &copy; 2020 by Przemysław Urbaniak (<a href="https://github.com/thekyeZ">thekyez</a>)
  </div>
</div>
