.header {
    height: 80px;
    background: purple;

    span {
        color: white;
        font-size: 32px;
        line-height: 80px;
        margin-left: 40px;
    }
}


.country-selector {
    h2 {
        padding: 20px;
        margin: 0;
        text-align: center;
        // color: white;
    }

    width: 100%;
    height: calc(100vh - 80px);
    // background: red;

    .countries {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .country-wrapper {
        .country-select {
            padding: 10px;
            margin: 10px 0;
        }

        .country {
            width: 500px;
            height: 500px;
            border: 1px solid black;
            position: relative;
        }
    }
}

.copy {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: black;
    font-size: 14px;
}